<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="brokerHostUri" value="amqp://guest:guest@localhost:5672/adt"/>
    <add key="busHostUri" value="rabbitmq://guest:guest@localhost/adt"/>-->
    <add key="brokerHostUri" value="amqp://perfuser:perfuser1@rcm41vqperapp01:5672/adt"/>
    <add key="busHostUri" value="rabbitmq://perfuser:perfuser1@rcm41vqperapp01/adt"/>
    <add key="workerQueueName" value="Demo.ADTProcessing.Worker"/>
    <add key="numberOfWorkers" value="16"/>
    <add key="maxProcessingDelayInSeconds" value="0"/>
    <add key="receiveTimeoutInMilliseconds" value="1000"/>
    <add key="maxMessagesToProcess" value="7"/>
  </appSettings>
</configuration>