<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <!--<add key="busHostUri" value="rabbitmq://guest:guest@localhost/adt"/>-->
    <add key="busHostUri" value="rabbitmq://perfuser:perfuser1@rcm41vqperapp01/adt" />
    <add key="eventProcessorQueueName" value="Demo.ADTProcessing.EventsProcessor" />
    <add key="restHostUri" value="http://localhost:9090" />
    <add key="numberOfEventsProcessors" value="1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>