<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="busHostUri" value="rabbitmq://localhost/adt"/>
    <add key="routerQueueName" value="Demo.ADTProcessing.Router"/>
    <add key="brokerHostUri" value="amqp://guest:guest@localhost:5672/adt"/>
    <add key="numberOfADTCommandWorkers" value="1"/>
    <add key="numberOfAccountSequenceCompletedWorkers" value="1"/>
  </appSettings>
</configuration>