<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <!--
    var expectedRate = (currentMessageRate/currentFacilities)* futureFacilities;
    Example:  360/50x500=3600
    -->
    <!--<add key="busHostUri" value="rabbitmq://guest:guest@localhost/adt"/>-->
    <add key="busHostUri" value="rabbitmq://perfuser:perfuser1@rcm41vqperapp01/adt"/>
    <add key="dataIngressQueueName" value="Demo.ADTProcessing.DataIngress"/>
    <add key="routerQueueName" value="Demo.ADTProcessing.Router"/>
    <!--<add key="expectedRatePerMinute" value="480"/>-->
    <add key="expectedRatePerMinute" value="120"/>
    <!--<add key="testFacilities" value="3"/>-->
    <add key="testFacilities" value="3"/>
    <add key="testAccounts" value="40"/>
  </appSettings>
</configuration>